@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input, textarea, select, button {
    border-radius: 0 !important;
  }
  
  .rounded, .rounded-sm, .rounded-md, .rounded-lg, .rounded-xl, .rounded-2xl, .rounded-3xl, .rounded-full {
    border-radius: 0 !important;
  }
}
